/*
  The -moz-pref media queries are not syntax errors.
  If this bugs you, you can change the language mode in VSCode to SCSS and
  it will use proper syntax highlighting.
*/

:root {
  @media (-moz-pref("theme.galaxydream.lightness", "darker")) {
    --galaxydream-lightness: hsl(0deg 0% 20%);
  }

  @media (-moz-pref("theme.galaxydream.lightness", "normal")) {
    --galaxydream-lightness: hsl(0deg 0% 40%);
  }

  @media (-moz-pref("theme.galaxydream.lightness", "brighter")) {
    --galaxydream-lightness: hsl(0deg 0% 65%);
  }

  @media not (-moz-pref("theme.galaxydream.lightness")) {
    --galaxydream-lightness: hsl(0deg 0% 100%);
  }

  --zen-browser-gradient-base: color-mix(
    in srgb,
    var(--zen-primary-color) 50%,
    var(--galaxydream-lightness)
  ) !important;
}

#zen-browser-background {
  --zen-main-browser-background: radial-gradient(
    ellipse,
    var(--zen-browser-gradient-base, #1b1e27) 20%,
    light-dark(#fff, #1b1b1b) 100%
  ) !important;
}

/* Makes the gradient work in compact mode */
:root[zen-compact-mode] {
  @media not (-moz-pref("zen.view.use-single-toolbar")) and (-moz-pref("zen.view.compact.hide-toolbar")) {
    #nav-bar::before,
    #nav-bar {
      background: radial-gradient(
        ellipse at bottom,
        var(--zen-browser-gradient-base, #1b1e27) 0%,
        light-dark(#fff, #1b1b1b) 95%
      ) !important;
    }

    #PersonalToolbar[data-l10n-id="bookmarks-toolbar"] {
      background: radial-gradient(
        ellipse at top,
        var(--zen-browser-gradient-base, #1b1e27) 0%,
        light-dark(#fff, #1b1b1b) 95%
      ) !important;
    }
  }

  @media (-moz-pref("zen.view.use-single-toolbar")) or (-moz-pref("zen.view.compact.hide-tabbar")) {
    #zen-toolbar-background {
      --zen-main-browser-background-toolbar: radial-gradient(
        ellipse at right,
        var(--zen-browser-gradient-base, #1b1e27) 0%,
        light-dark(#fff, #1b1b1b) 95%
      ) !important;
    }
  }
}
